.film-header{
    position: relative;
    width: 100%;
    /* hauteur ajustable selon ton design */
    min-height: 130px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    color: #fff;

    h1{
        position: relative;
        z-index: 2;
        font: 700 clamp(20px, 5vw, 48px)/1.1 system-ui, sans-serif;
        text-shadow: 3px 3px 3px rgba(0,0,0,.6);
        
    }

    a{
        text-decoration: none;
        color: inherit;
        transition: 230ms ease-in-out;

        &:hover{
            scale: 0.98;
        }
    }
    
    .film-bg{
        position:absolute; inset:0;
        background-image: url('/film-strip.svg');
        background-repeat: repeat-x;     /* répéter horizontalement si besoin */
        background-size: auto 100%;      /* pleine hauteur, largeur auto */
        background-position: 0 50%;
        opacity: 1;
        animation: film-scroll 80s linear infinite;
        will-change: background-position;
        opacity: 0.8;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    @keyframes film-scroll{
        from{ background-position: 0 50%; }
        to  { background-position: -1920px 50%; } /* même largeur que le viewBox */
    }
}


