.movie-list-container{
  color: white;
  padding-top: 15px;
}

.title{
  display: flex;
  align-items: center;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: end;
  
  gap: 1rem;
}
h3,h4, h5{
  color: white;
}
.movie-card{
  flex-grow: 1;
  flex-basis: 200;
  border: none;
 
  
////// TEST ELLIPSE
//   .text-ellipsis {
//   white-space: nowrap;      /* reste sur une seule ligne */
//   overflow: hidden;         /* cache le reste */
//   text-overflow: ellipsis;  /* ajoute ... à la fin */
//   max-width: 200px;         /* largeur max (à adapter) */
//   display: block;           /* ou inline-block */
//   cursor: help;             /* pointeur spécial pour info */
// }
 
  mat-card-header{
    padding-bottom: 15px;
  }
  mat-card-content{

  }
  a{
    
    img{
      
    }
    img:hover{
      box-shadow: 0px 0px 15px 5px #961010;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      border-radius: 10px;
      scale: 1.03;
    }
  }
}