<div class="movie-list-container">
    <div class="title">
        <h3>{{categoryTitle()}}</h3>
        <button class="custom-btn btn-4"><mat-icon>fast_forward</mat-icon></button>
    </div>
    <div class="card-list">
        @if (this._router.url === '/home') {
            @for (item of moviesList().slice(0,8); track $index) { 
                <div class="movie-card" appearance="outlined">
                    <div class="title">
                        {{item.title}}
                    </div>
                    <div class="img">
                        <a href=""><img [src]="'https://image.tmdb.org/t/p/w200' + item.poster_path"></a>
                    </div>
                </div>
            }
        }@else {
            @for (item of moviesList(); track $index) { 
                <div class="movie-card" appearance="outlined">
                    <div class="text-ellipsis" [attr.title]="item.title">
                        {{item.title}}
                    </div>
                    <div>
                        <a href=""><img [src]="'https://image.tmdb.org/t/p/w200' + item.poster_path"></a>
                    </div>
                </div>
            }
        }
        
    </div>
</div>
