.movie-list-container{
  color: white;
  margin: 0 60px;
  padding: 20px 20px;
  border: 1px solid rgba(255, 0, 0, 0.171);
  border-radius: 20px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.card-list.home{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: end;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.card-list.movies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;  
}
h3,h4, h5{
  color: white;
}
.movie-card{
  border: none;
  width: 100%;
}
.movie-card a img{
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
  transition: 250ms ease-in-out;
  margin-top: 20px;
}
.movie-card a img:hover{
  box-shadow: 0px 0px 15px 5px #b31212;
  scale: 1.05;
}
  
////// TEST ELLIPSE
//   .text-ellipsis {
//   white-space: nowrap;      /* reste sur une seule ligne */
//   overflow: hidden;         /* cache le reste */
//   text-overflow: ellipsis;  /* ajoute ... à la fin */
//   max-width: 200px;         /* largeur max (à adapter) */
//   display: block;           /* ou inline-block */
//   cursor: help;             /* pointeur spécial pour info */
// }
 


.title-movie{
  padding-bottom: 20px;
}


