@if (this._router.url !== '/home') {
    <div class="pagination up">
    <button class="button-glob" (click)="prevPage()" [disabled]="currentPage() === 1"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <span>Page {{ currentPage() }}</span>
    <button class="button-glob" (click)="nextPage()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
}
<div class="movie-list-container">
    <div class="title">
        @if (this._router.url === '/home') {
            <h3>{{categoryTitle()}}</h3>
        }@else {
            <h1>{{categoryTitle()}}</h1>
        }
        @if (this._router.url === '/home'){
            <button class="button-glob grey" [routerLink]="'/series/' + category()"><mat-icon>fast_forward</mat-icon></button>
        }
    </div>
    <div class="card-list" [class.home]="isHome()" [class.movies]="!isHome()">
        @if (this._router.url === '/home') {
            @for (item of seriesList8(); track $index) { 
                <div class="movie-card" appearance="outlined">
                    <div class="img">
                        <a [routerLink]="['/serie', item!.id]"><img [class.home]="isHome()" [class.movies]="!isHome()" [src]="'https://image.tmdb.org/t/p/w400' + item.poster_path"></a>
                    </div>
                </div>
            }
        }@else {
            @for (item of seriesList(); track $index) { 
                <div class="movie-card" appearance="outlined">
                    <div class="text-ellipsis" [attr.title]="item!.original_name">
                        <p>{{item!.original_name}}</p>
                    </div>
                    <div>
                        <a [routerLink]="['/serie', item.id]"><img [class.home]="isHome()" [class.movies]="!isHome()" [src]="'https://image.tmdb.org/t/p/w400' + item.poster_path"></a>
                    </div>
                </div>
            }
        }
    </div>
</div>
@if (this._router.url !== '/home') {
    <div class="pagination down">
    <button class="button-glob" (click)="prevPage()" [disabled]="currentPage() === 1"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <span>Page {{ currentPage() }}</span>
    <button class="button-glob" (click)="nextPage()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
}