
.main{
    padding: 25px;
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}
p, li, h1, h4{
    color: white;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.overview{
    font-size: 18px;
}
h1{
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
li{
    list-style-type:none;
}
.foot{
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    box-sizing: border-box;
}
.left{
    display: flex;
    flex-direction: column;
}
.data{
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ff090962;
    box-shadow: inset 5px 5px 15px;
    h4{
        margin-bottom: 10px;
    }
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1280px;
    height: 390px;
    align-items: start;
    background-color: black;
    padding: 40px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 10px;
}
.infos{
    display: flex;
    justify-content: space-between;
    
}
.info{
    display: inline-flex;
    p{
        margin-right: 15px;
    }
}
.btn{
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 1rem;
}
.img-container{
    
    flex-direction: column;
    justify-content: end;
    width: 100%;
    max-width: 1280x;
    align-items: end;
    box-sizing: border-box;
}
.title{
    padding-bottom: 15px;
}
img{
    display: block;
    width: 100%;
    border-radius: 10px;
    
}

img{
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
