<div class="main">
  
  @if (movie()) {
    <div class="left">
      <div class="info-container">
        
        @if (movie().overview) {
          <p class="overview">{{ movie().overview }}</p>
        }@else {
          <p>Pas encore de description pour ce film</p>
        }
        <!-- <img [src]="'https://image.tmdb.org/t/p/w500' + m.poster_path" 
        alt="{{ m.title }}"> -->
        
        <div class="infos">
          <div class="info">
            <p><strong>Date de sortie :</strong> {{ movie().release_date }}</p>
          </div>
          <div class="info">
            <p><strong>Note :</strong> {{ movie().vote_average }} / 10</p>
          </div>
          <div class="info">
            <p><strong>Durée :</strong> {{ movie().runtime }} min</p>
          </div>
        </div>
        
      </div>
      <div class="btn">
        <button class="button-glob">Like</button>
        <button class="button-glob">Add</button>

      </div>
    </div>
    <div class="img-container">
      <h1 class="title">{{ movie().title }}</h1>
      <img class="back-img" [src]="'https://image.tmdb.org/t/p/w1280' + movie().backdrop_path" 
            alt="{{ movie().title }}">
    </div>
  } @else {
    <p>Chargement du film...</p>
  }
</div>
<div class="similar-container">
  <app-similar-list></app-similar-list>
</div>
