
main{
    background-color: rgb(24, 24, 24);
    margin: 0;
}

.main-content{
  padding:0
}
.btn-4{
    margin-left: 10px;
    margin-top: 10px;
}

.btn{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 15px;
}


    
    


