
.main-content{
  padding: 15px;
}
mat-sidenav{
    width: 15%;
    background-color: rgb(0, 0, 0);
}
mat-sidenav-content{
    background-color: rgb(17, 16, 16);
}
.btn-4{
    margin-left: 10px;
    margin-top: 10px;
}

.btn{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 15px;
}


    
    


