    

.category-container{
    display: flex;
    
    .movie-card{
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img{
            width: 100%;
        }
    }
}
