<div class="main">
  
  @if (serie()) {
    <div class="left">
      <div class="info-container">
        
        @if (serie()!.overview) {
          <p class="overview">{{ serie()!.overview }}</p>
        }@else {
          <p>Pas encore de description pour ce film</p>
        }
        <div class="foot">
          <div class="data">
            <div class="genre">
              <h4>Genres :</h4>
              @for (item of serie()?.genres; track $index) {
                <p>{{item.name}}</p>
              }
            </div>
            <div class="right">
              <div class="infos">
                <div class="info">
                  <p><strong>{{serie()!.origin_country}}</strong></p>
                  <p><strong>{{ serie()!.first_air_date | date:'yyyy' }}</strong></p>
                  <p><strong>{{ serie()!.number_of_seasons}} Saisons</strong></p>
                </div>
              </div>
              <div class="note">
                <p><strong>Note :</strong> {{ serie()!.vote_average }} / 10</p>
              </div>
            </div>
          </div>
          <div class="btn">
            <button class="button-glob">Like</button>
            <button (click)="addToFavoritesSerie()" class="button-glob">Add</button>
          </div>
        </div>
        
      </div>
    </div>
    <div class="img-container">
      <h1 class="title">{{ serie()!.name }}</h1>
      <img class="back-img" [src]="'https://image.tmdb.org/t/p/w1280' + serie()!.backdrop_path" 
            alt="{{ serie()!.name }}">
    </div>
  } @else {
    <p>Chargement du film...</p>
  }
</div>
<div class="similar-container">
  <app-similar-list></app-similar-list>
</div>
